@import url('general.css');

header {
    margin-bottom: 4.2%;
}

body section {
    padding: 1% 3%;
}

#supply-list article {
    background-color: #e6e5e3;
    padding: 5px 17px;
    padding-bottom: 23px;
    margin-bottom: 2%;
    border-radius: 5px;
}

#supply-list article div {
    display: inline-block;
    vertical-align: middle;
}

#supply-info {
    margin-top: 1%;
}

#supply-buttons, #add-requisitions {
    float: right;
    padding-top: 3.1%;
    padding-right: 2%;
}

#page-info div {
    display: inline-block;
    width: 49.8%;
}

#current-supplies div {
    display: inline-block;
    vertical-align: top;
}

#current-supplies article {
    background-color: #e6e5e3;
    padding: 5px 17px;
    padding-bottom: 23px;
    margin-bottom: 33px;
    border-radius: 5px;
}

#req-button {
    float: right;
    padding-top: 2.6%;
    padding-right: 10px;
}

#req-button button {
    background-color: #152b51;
    color: #f8f8f6;
}

#supply-list article #supply-buttons button {
    background-color: #152b51;
    color: #f8f8f6;
}

.button button {
    border-color: #1974b5;
    background-color: #228ddb;
    color: #f8f8f6;
}

#back-button {
    margin-right: 3%;
    margin-bottom: 3%;
}